<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${attraction.name}">Attraction Page</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- this here is the code for the form-->
<form th:action="@{/attraction/save}" th:object="${attraction}" method="post">
  <!-- this is the code for writing a name menu: -->
  <label for="name">By Navn:</label>
  <input id="name" name="name" th:field="*{name}" placeholder="Angiv Navn">

  <!-- this is the code for writing a description: -->
  <label for="description">Beskrivelse:</label>
  <input id="description" name="description" th:field="*{description}" placeholder="Angiv Beskrivelse">

  <br> </br>

  <label for="byer">By:</label>
  <select id="byer" name="byer" th:field="*{by}">
    <option th:each="byer : ${byer}" th:value="${byer}" th:text="${byer.displayName}">By</option>
  </select>

  <br> </br>
  <br> </br>
  <button type="submit"> OK </button>

</form>
</body>
</html>