<!DOCTYPE html>
<html xmlns : th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class = header>
    <h1>Turist Guide</h1>
</div>

<nav class="container">
    <ul>
        <li><a th:href="@{/}">Hjem</a></li>
        <li><a th:href="@{/attractions}">Attractions</a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
    </ul>
</nav>

<main class="container">
    <p class = "headline">Vælg en attraction for at se information</p>

    <ul class="attractionListUl" >
        <li th:each="attraction : ${attractions}"
            class="attractionListIl"
            th:style="'background-image: url(' + @{/images/{img}(img=${attraction.imagePath})} + ');'">
            <a th:href="@{/attractions/{name}(name=${attraction.name})}" th:text="${attraction.name}"></a>
            <a th:href="@{/attractions/{name}/tags(name=${attraction.name})}" >
                <button class = "button">Tags</button>
            </a>
        </li>
    </ul>
</main>

<div th:replace="fragments/footer :: footer"></div>


</body>
</html>